.layout-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  min-height: 100vh;
}

header {
  position: sticky;
  top: 0;
  z-index: 10;
  background: #f8f9fa; /* Background color */
}

.content {
  flex: 1;
  padding: 1rem;
}

footer {
  background: #f1f1f1; /* Background color */
  text-align: center;
}

